# Telegram Automatic File Forwarding
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# MEGA Central Cloud Storage & Cache
MEGA_EMAIL=
MEGA_PASSWORD=
MEGA_FOLDER_URL=https://mega.nz/folder/ZAEVwBAR#eCpPGWnnzvZRaNXoJleO9g
