# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
*.local

# Production build outputs
dist
dist-ssr
*.tsbuildinfo

# Environment variables
.env
.env.*.local
.cache

# Temporary uploads
uploads/*
!uploads/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

